<div class="signup-container">
	<div class="col-md-12">
		<h3 class="signup-header">Rejoignez nous!</h3>
		<hr>
		<br>
	</div>

	<div class="signup-form">
		
		<form class="form-horizontal">


		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstname">Prenom</label>  
			<div class="col-md-5">
			<input id="firstname" name="firstname" type="text" placeholder="Ludovic" class="form-control input-md">
				
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="lastname">Nom</label>  
			<div class="col-md-5">
			<input id="lastname" name="lastname" type="text" placeholder="Marchand" class="form-control input-md">
				
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="email">Email</label>  
			<div class="col-md-5">
			<input id="email" name="email" type="text" placeholder="ludovic@ludovic.com" class="form-control input-md">
				
			</div>
		</div>

		<!-- Password input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="password1">Password</label>
			<div class="col-md-5">
				<input id="password1" name="password1" type="password" placeholder="" class="form-control input-md">
				
			</div>
		</div>

		<!-- Password input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="password2">Retapez Password</label>
			<div class="col-md-5">
				<input id="password2" name="password2" type="password" placeholder="" class="form-control input-md">
				
			</div>
		</div>

		<!-- Button -->
		<div class="form-group">
			<label class="col-md-4 control-label" for="signup"></label>
			<div class="col-md-5">
				<button id="signup" name="signup" class="btn btn-success btn-block">Enregistrer!</button>
			</div>
		</div>

		</form>
	</div>

</div>
